<h2>Edit Note</h2>
<form method="post" action="/notes/<%= note._id %>">
  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input type="text" class="form-control" id="title" name="title" value="<%= note.title %>" required>
  </div>
  <div class="mb-3">
    <label for="content" class="form-label">Content</label>
    <textarea class="form-control" id="content" name="content" rows="5" required><%= note.content %></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Save</button>
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

<script>
  const noteId = "<%= note._id %>";

  $('form').on('input', function() {
    const noteContent = {
      title: $('#title').val(),
      content: $('#content').val(),
    };
    localStorage.setItem(`unsavedEditNote_${noteId}`, JSON.stringify(noteContent));
  });
  
  $('form').submit(function() {
    localStorage.removeItem(`unsavedEditNote_${noteId}`);
  });
  
  $(document).ready(function() {
    const unsavedNote = JSON.parse(localStorage.getItem(`unsavedEditNote_${noteId}`));
    if (unsavedNote) {
      $('#title').val(unsavedNote.title);
      $('#content').val(unsavedNote.content);
    }
  });
  
</script>